<div class="container">
	<header class="codrops-header">
		<h1>Ember Stylish Buttons <span>Some fresh styles &amp; hover effects for the modern Ember button</span></h1>
		<div class="support" id="support-note">Please note that (mobile) Safari's behavior is very buggy and only some effects will work properly.</div>
	</header>
  {{outlet}}
</div>
